body {
    margin: 0; 
}

header {
    background-color: #050e54;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header h1 {
    font-size: 3rem; 
    font-family: 'Philosopher', sans-serif; 
    margin: 0; 
    text-align: center; 
    color: #f8f8f8; 
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.hero {
    background-image: url('фон.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 50px; 
}

.hero h1 {
    font-size: 2.5rem;
    margin: 0;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
}

.image-container {
    text-align: center;
    margin: 0; 
    padding: 0; 
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.services {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    margin-top: 0; 
}

.services h2 {
    font-size: 2rem;
    margin-top: 0; 
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

.card p {
    font-size: 1rem;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 0.9rem;
    }
}
